@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './prism.css';

@layer base {
  body {
    @apply bg-[#16161C] font-body;
  }
}
@layer components {
  .prose pre {
    @apply bg-black;
  }
}

.rehype-code-title {
  position: absolute;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  @apply px-4 py-2 text-gray-300 z-10;
}

.blue-purple-gradient {
  background: rgb(35, 255, 245);
  background: linear-gradient(
    135deg,
    rgba(35, 255, 245, 1) 0%,
    rgba(60, 123, 240, 1) 50%,
    rgba(61, 47, 135, 1) 100%
  );
}

.pink-purple-gradient {
  background: rgb(94, 119, 240);
  background: linear-gradient(
    135deg,
    rgba(94, 119, 240, 1) 0%,
    rgba(251, 58, 216, 1) 100%
  );
}

.yelow-greenn-gradient {
  background: rgb(252, 243, 63);
  background: linear-gradient(
    135deg,
    rgba(252, 243, 63, 1) 0%,
    rgba(47, 255, 200, 1) 100%
  );
}
.blue-gree-yellow-gradient {
  background: rgb(20, 255, 240);
  background: linear-gradient(
    135deg,
    rgba(20, 255, 240, 1) 0%,
    rgba(68, 248, 106, 1) 50%,
    rgba(207, 239, 40, 1) 100%
  );
}

.orange-pink-gradient {
  background: rgb(243, 120, 39);
  background: linear-gradient(
    135deg,
    rgba(243, 120, 39, 1) 0%,
    rgba(237, 28, 83, 1) 50%,
    rgba(149, 10, 78, 1) 100%
  );
}

.green-gradient {
  background: rgb(54, 205, 137);
  background: linear-gradient(
    135deg,
    rgba(54, 205, 137, 1) 0%,
    rgba(98, 166, 83, 1) 100%
  );
}

.turquoise-gradient {
  background: rgb(19, 238, 202);
  background: linear-gradient(
    135deg,
    rgba(19, 238, 202, 1) 0%,
    rgba(36, 124, 143, 1) 100%
  );
}
